.creator-info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.creator-info img {
  max-width: 200px;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project-entry {
  text-align: center;
  width: 400px;
}

.project-entry img {
  height: 240px;
  width: auto;
  object-fit: contain;
}

.project-entry a {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.creator-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1rem;
}

.creator-entry {
  text-align: center;
  width: 120px;
}

.creator-entry img {
  height: 120px;
  width: auto;
  object-fit: contain;
}

.creator-entry a {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.creator-box {
  border: 2px solid var(--border-color);
  background-color: var(--box-bg);
  padding: 0;
  margin-bottom: 2rem;
}

.creator-box hr {
  border: none;
  border-top: 1px solid var(--hr-color);
  margin: 0;
}

/*.fit-box {
  width: fit-content;
}*/

.creator-layout {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.creator-left {
  flex: 0 0 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.creator-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

