video {
  display: block;
}

.video-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.video-gallery video {
  width: 100%;
  height: auto;
}

.audio-gallery {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.audio-gallery ul {
  list-style: none;
  padding: 0;
}

/*.audio-gallery li:nth-child(odd) {
  background-color: var(--box-bg); 
}

.audio-gallery li:nth-child(even) {
  background-color: var(--border-color)
}*/

.audio-gallery li {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: var(--box-bg); 
  color: var(--text-color);
}

.audio-gallery li:hover {
  background-color: var(--border-color);
}

.audio-gallery li.playing {
  font-weight: bold;
  background-color: var(--border-color);
  color: var(--text-color);
}

.image-gallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-row {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.image-wrapper {
  overflow: hidden;
  display: block;
  position: relative;
  max-height:400px;
}

.image-wrapper img {
  display: block;
  height: 100%;
  width: auto;
  object-fit: contain;
}

.document-gallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.project-info strong {
  color: var(--text-muted-color);
}

.project-info--column {
  flex-direction: column;
}

.project-info--column img {
  width: 100%;
}

.project-info--row {
  flex-direction: row;
}

.project-info--row img {
  width: 200px;
}

.creator-info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.creator-info strong {
  color: var(--text-muted-color);
}

.creator-info img {
  max-width: 200px;
}

/*.fit-box {
  width: fit-content;
}*/

.project-layout {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: nowrap; /*wrap on narrow screens to preserve responsiveness*/
}

.project-left {
  flex: 3;
  min-width: 0;
}

.project-right {
  flex: 7;
  min-width: 0;
}
