{# templates/partials/_icons.html.j2 #}
{% macro play_pause_icon() %}
<svg viewBox="0 0 24 24" class="icon play-toggle-icon">
  <path d="M8 5v14l11-7z" data-play></path>
  <path d="M6 19h4V5H6v14zm8 0h4V5h-4v14z" data-pause style="display: none;"></path>
</svg>
{% endmacro %}

{% macro stop_icon() %}
<svg viewBox="0 0 24 24" class="icon stop-icon">
  <rect x="6" y="6" width="12" height="12"/>
</svg>
{% endmacro %}

{% macro prev_icon() %}
<svg viewBox="0 0 24 24" class="icon prev-icon">
  <rect x="5" y="5" width="2" height="14"/>
  <path d="M18 5v14l-10-7z"/>
</svg>
{% endmacro %}

{% macro next_icon() %}
<svg viewBox="0 0 24 24" class="icon next-icon">
  <path d="M6 5v14l10-7z"/>
  <rect x="17" y="5" width="2" height="14"/>
</svg>
{% endmacro %}

{% macro volume_icon() %}
<svg viewBox="0 0 24 24" class="icon volume-icon">
  <path d="M5 9v6h4l5 5V4l-5 5H5z" />
  <path d="M15.5 10.5a1.5 1.5 0 0 1 0 3" />
  <path d="M17.5 8a4 4 0 0 1 0 8" />
</svg>
{% endmacro %}

{% macro fullscreen_icon() %}
<svg viewBox="0 0 24 24" class="icon fullscreen-icon">
  <path d="M4 4h6v2H6v4H4V4zm16 0v6h-2V6h-4V4h6zm-6 16v-2h4v-4h2v6h-6zm-6 0H4v-6h2v4h4v2z"/>
</svg>
{% endmacro %}

