{% import "partials/_icons.html.j2" as icons %}
{% import "partials/_utils.html.j2" as utils %}

{% macro render_media_groups(media_groups, html_settings, gallery_image_max_height, page_size) %}
  {% for group in media_groups %}
    {% for section in group.sections %}
      {% if section.type == MediaType.VIDEO.value %}
        {% for video in section.videos %}
          <div class="section-box">
            <div class="section-title">{{ video.title }}</div>
            <hr>
            <div class="section-content">
              <div class="video-wrapper">
                  <video preload="metadata">
                    <source src="{{ video.full_url }}" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>

                  <div class="video-controls">
                    <button class="control-btn" onclick="toggleVideoPlay(this)">
                      {{ icons.play_pause_icon() }}
                    </button>

                    <input type="range" class="progress-bar" value="0" step="0.01" onchange="seekVideo(this)" disabled>

                    <span class="time-display">00:00:00 / 00:00:00</span>

                    <div class="volume-container">
                      {{ icons.volume_icon() }}
                      <input type="range" class="volume-slider" min="0" max="1" step="0.01" oninput="setVideoVolume(this)">
                    </div>

                    <button class="control-btn" onclick="toggleFullscreen(this)">
                      {{ icons.fullscreen_icon() }}
                    </button>
                  </div>
                </div>
            </div>
          </div>
        {% endfor %}
      {% elif section.type == MediaType.AUDIO.value %}
        {% if section.tracks %}
          <div class="section-box audio-section">
            <div class="section-title">{{ group.audio_section_title }}</div>
            <hr>
            <div class="section-content">
              <div class="audio-gallery">
                <ul id="track-list-{{ loop.index }}">
                  {% for track in section.tracks %}
                    <li 
                      data-src="{{ track.full_url }}" 
                      onclick="playSelectedTrack(this)"
                      class="track-title">
                      <span class="track-title-text">{{ track.title }}</span>
                      <span class="track-duration-text">{{ utils.format_duration(track.duration_seconds) }}</span>
                    </li>
                  {% endfor %}
                </ul>
                <div class="audio-controls">
                  <button class="control-btn" onclick="togglePlay(this)">
                    {{ icons.play_pause_icon() }}
                  </button>
                  
                  <button class="control-btn" onclick="stopAudio(this)">
                    {{ icons.stop_icon() }}
                  </button>
                  
                  <button class="control-btn" onclick="prevTrack(this)">
                    {{ icons.prev_icon() }}
                  </button>

                  <button class="control-btn" onclick="nextTrack(this)">
                    {{ icons.next_icon() }}
                  </button>

                  <input type="range" class="progress-bar" value="0" step="0.02" onchange="seekAudio(this)">

                  <span class="time-display">00:00:00 / 00:00:00</span>

                  <div class="volume-container">
                    {{ icons.volume_icon() }}
                    <input type="range" class="volume-slider" min="0" max="1" step="0.01" oninput="setVolume(this)">
                  </div>
                  
                  <audio onended="playNextTrack(this)" preload="metadata" style="display: none;"></audio>
                </div>
                <div class="track-list-blocker"></div>
              </div>
            </div>
          </div>
        {% endif %}
      {% elif section.type == MediaType.IMAGE.value %}
        {% if section.images %}
          <div class="section-box">
            <div class="section-title">{{ group.image_section_title }}</div>
            <hr>
            <div class="section-content">
              <div class="image-gallery--justified" data-lightbox="true" data-page-size="{{ page_size }}" data-image-max-height="{{ gallery_image_max_height }}">
                {% for image in section.images %}
                  <div class="image-wrapper">
                    <a href="{{ image.full_url }}" target="_blank">
                      <img src="{{ image.thumb_url }}" alt="Image for {{ group.image_label }}">
                      {% if html_settings.project_page_image_gallery_captions_visible %}
                        <div class=image-caption>
                          <span>{{ image.caption }}</span>
                        </div>
                      {% endif %}
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      {% elif section.type == MediaType.DOCUMENT.value %}
        {% for document in section.documents %}
          <div class="section-box">
            <div class="section-title">{{ document.title }}</div>
            <hr>
            <div class="section-content">
              <iframe src="{{ document.full_url }}" style="width: 100%; height: 30rem; border: none;"></iframe>
              <a href="{{ document.full_url }}" target="_blank">Full View</a>
            </div>
          </div>
        {% endfor %}
      {% elif section.type == MediaType.TEXT.value %}
        {% for text in section.texts %}
          <div class="section-box markdown">
            <div class="section-title">{{ text.title }}</div>
            <hr>
            <div class="section-content text-content">
              <div class="text-gallery">
                {{ text.content | safe }}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endmacro %}

