{% macro format_duration(seconds) %}
  {% if seconds >= 3600 %}
    {{ ("%02d:%02d:%02d") % (seconds // 3600, (seconds % 3600) // 60, seconds % 60) }}
  {% else %}
    {{ ("%02d:%02d") % (seconds // 60, seconds % 60) }}
  {% endif %}
{% endmacro %}
