{% macro format_duration(seconds) %}
  {% if seconds <= 0 %}
    {{ "" }}
  {% elif seconds >= 3600 %}
    {{ ("%02d:%02d:%02d") % (seconds // 3600, (seconds % 3600) // 60, seconds % 60) }}
  {% else %}
    {{ ("%02d:%02d") % (seconds // 60, seconds % 60) }}
  {% endif %}
{% endmacro %}

{% macro get_info_block_layout(Orientation, orientation) %}
  {% if Orientation.PORTRAIT == orientation %}
    info-block--row
  {% else %}
    info-block--column
  {% endif %}
{% endmacro %}

{% macro get_image_gallery_class(ImageGalleryBuildingStrategy, strategy) %}
  {% if ImageGalleryBuildingStrategy.ASPECT == strategy %}
    image-gallery--aspect
  {% else %}
    image-gallery--justified
  {% endif %}
{% endmacro %}
