.overview-layout {
  height: 100%;
  overflow-y: auto;
  padding-top: var(--theme-overview-padding-top);
  padding-bottom: var(--theme-overview-padding-bottom);
  padding-left: var(--theme-overview-padding-left);
  padding-right: var(--theme-overview-padding-right);
  border-radius: var(--theme-overview-radius);
  background-color: var(--theme-overview-bg);
  border: var(--theme-overview-border-width) solid var(--theme-overview-border);
}

.overview-layout > .section-box > .section-content {
  padding-top: var(--space-md);
}

.tag-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
  gap: var(--space-md);
}

.tag-list > .tag-category {
  margin-bottom: 0;
}
