{% import "partials/_media_sections.html.j2" as media_macros %}
{% import "partials/_utils.html.j2" as utils %}
{% import "partials/_media_badges.html.j2" as media_badges %}

<!DOCTYPE html>
<html lang="en">
{% include "partials/_document_head.html.j2" %}
<body class="{{ default_theme.css_class }}" data-default-theme="{{ default_theme.css_class }}">

<div class="page-container">
  {% include "partials/_page_header.html.j2" %}

  <div class="two-column-layout">
    <div class="detail-content">

      <div class="left-column">

      <div class="section-box">
        <div class="section-title">{{ site_labels.pages.creator_profile_title }}</div>
        <hr>
        <div class="section-content markdown">
          <div class="info-block{% if creator.portrait_orientation %} info-block--{{ creator.portrait_orientation.value }}{% endif %}">
            {% if creator.rel_portrait_path %}
              <a href="{{ path_to_root }}{{ creator.rel_portrait_path }}" class="single-lightbox info-block__media" data-lightbox-single="true" data-lightbox-title="{{ creator.name }}">
                <img class="primary-image" src="{{ path_to_root }}{{ creator.rel_portrait_path }}" alt="Portrait of {{ creator.name }}">
              </a>
            {% endif %}
            {{ utils.render_meta_entries(creator.meta_entries, path_to_root) }}
          </div>
        </div>
      </div>

      {% if creator.info_html %}
        <div class="section-box markdown">
          <div class="section-title">{{ site_labels.pages.creator_about_title }}</div>
          <hr>
          <div class="section-content text-content">
            {{ creator.info_html | safe }}
          </div>
        </div>
      {% endif %}

      {% for member in creator.members%}
        <div class="section-box">
          <div class="section-title">{{ member.name }}</div>
          <hr>
          <div class="section-content">
            <div class="info-block{% if member.rel_thumbnail_path %} info-block--portrait{% endif %}">
              {% if member.rel_thumbnail_path %}
                <a href="{{ path_to_root }}{{ member.rel_thumbnail_path }}" class="single-lightbox info-block__media" data-lightbox-single="true" data-lightbox-title="{{ member.name }}">
                  <img class="primary-image" src="{{ path_to_root }}{{ member.rel_thumbnail_path }}" alt="Portrait of {{ member.name }}">
                </a>
              {% endif %}
              {{ utils.render_meta_entries(member.meta_entries, path_to_root) }}
            </div>
          </div>
        </div>
      {% endfor %}

      {% if creator.tags %}
        <div class="section-box">
          <div class="section-title">{{ site_labels.entity.tags }}</div>
          <hr>
          <div class="section-content tag-list">
            {% for group in creator.tags.groups %}
              <div class="tag-category">
                <span class="tag-category-label data-label">{{ group.category }}</span>
                {% for tag in group.tags %}
                  <a class="tag" href="{{ path_to_root }}index.html?tag={{ (group.category ~ ':' ~ tag) | urlencode }}">{{ tag }}</a>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      </div>

      <div class="right-column">
      
      {% set image_gallery_class = utils.get_image_gallery_class(ImageGalleryBuildingStrategy, site_rendering.galleries.project_cards.building_strategy) %}
      {% set aspect_ratio = site_rendering.galleries.project_cards.aspect_ratio or '1/1' %}

      {% if creator.projects %}
      <div class="section-box">
        <div class="section-title">{{ site_labels.entity.projects }}</div>
        <hr>
        <div class="section-content">
          <div class="{{ image_gallery_class }}"
               data-lightbox="false"
               data-image-max-height="{{ project_image_max_height }}"
               data-aspect-ratio="{{ aspect_ratio }}">
            {% for project in creator.projects %}
            <div class="image-wrapper image-card" data-width="{{ project.image_wrapper_width }}" data-height="{{ project.image_wrapper_height }}">
              <a href="{{ path_to_root }}{{ project.rel_html_path }}" title="{{ project.title }}">
                <img class="card-image" src="{{ path_to_root }}{{ project.rel_thumbnail_path }}" alt="Thumbnail for {{ project.title }}" loading="lazy">
                {{ media_badges.media_badges(project.media_counts, site_labels) }}
                <div class=image-caption>
                  <span>{{ project.title }}</span>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>  
        </div>
      </div>
      {% endif %}

      {% for collab in creator.collaborations %}
      <div class="section-box">
        <div class="section-title">{{ site_labels.entity.projects }} with {{ collab.label }}</div>
        <hr>
        <div class="section-content">
          <div class="{{ image_gallery_class }}"
               data-lightbox="false"
               data-image-max-height="{{ project_image_max_height }}"
               data-aspect-ratio="{{ aspect_ratio }}">
            {% for project in collab.projects %}
            <div class="image-wrapper image-card" data-width="{{ project.image_wrapper_width }}" data-height="{{ project.image_wrapper_height }}">
              <a href="{{ path_to_root }}{{ project.rel_html_path }}" title="{{ project.title }}">
                <img class="card-image" src="{{ path_to_root }}{{ project.rel_thumbnail_path }}" alt="Thumbnail for {{ project.title }}" loading="lazy">
                {{ media_badges.media_badges(project.media_counts, site_labels) }}
                <div class=image-caption>
                  <span>{{ project.title }}</span>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
        
      {{ media_macros.render_media_groups(path_to_root, creator.media_groups, gallery_image_max_height, site_rendering.creator_page.media_gallery_page_size, site_labels) }}

      </div>

    </div>
  </div>
</div>

<script src="{{ path_to_root }}assets/js/utils.js" defer></script>
<script src="{{ path_to_root }}assets/js/playback_coordinator.js" defer></script>
<script src="{{ path_to_root }}assets/js/theme_selector.js" defer></script>
<script src="{{ path_to_root }}assets/js/justified_gallery_builder.js" defer></script>
<script src="{{ path_to_root }}assets/js/aspect_gallery_builder.js" defer></script>
<script src="{{ path_to_root }}assets/js/image_captions_toggle.js" defer></script>
<script src="{{ path_to_root }}assets/js/pagination.js" defer></script>
<script src="{{ path_to_root }}assets/js/audio_player.js" defer></script>
<script src="{{ path_to_root }}assets/js/video_player.js" defer></script>
<script src="{{ path_to_root }}assets/js/lightbox.js" defer></script>
<script src="{{ path_to_root }}assets/js/resize_iframes.js" defer></script>

</body>
</html>

