{% import "partials/_media_sections.html.j2" as media_macros %}
{% import "partials/_utils.html.j2" as utils %}
{% import "partials/_empty_state.html.j2" as empty_states %}

<!DOCTYPE html>
{% include "partials/_document_open.html.j2" %}
{% include "partials/_document_head.html.j2" %}
<body data-default-theme="{{ default_theme.css_class }}">

<div class="page-container">
  {% include "partials/_page_header.html.j2" %}

  <div class="two-column-layout">
    <div class="detail-content">

      <div class="left-column">

      <div class="section-box">
        <div class="section-title">{{ site_labels.pages.project_overview_title }}</div>
        <hr>
        <div class="section-content markdown">
          <div class="info-block info-block--{{ project.thumbnail_orientation.value }}">
            <a href="{{ path_to_root }}{{ project.rel_thumbnail_path }}" class="single-lightbox info-block__media" data-lightbox-single="true" data-lightbox-title="{{ project.title }}">
              <img class="primary-image" src="{{ path_to_root }}{{ project.rel_thumbnail_path }}" alt="{{ site_labels.accessibility.project_preview_description_format | format_phrase(project=project.title) }}">
            </a>
            {{ utils.render_meta_entries(project.meta_entries, path_to_root) }}
          </div>
        </div>
      </div>

      {% if project.info_html %}
        <div class="section-box markdown">
          <div class="section-title">{{ site_labels.pages.project_description_title }}</div>
          <hr>
          <div class="section-content text-content">
            {{ project.info_html | safe }}
          </div>
        </div>
      {% endif %}

      {% if project.creator %}
        {% set creator = project.creator%}

        <div class="section-box">
          <div class="section-title">{{ creator.name }}</div>
          <hr>
          <div class="section-content">
            <div class="info-block{% if creator.rel_portrait_path %} info-block--portrait{% endif %}">
              {% if creator.rel_portrait_path %}
                <a href="{{ path_to_root }}{{ creator.rel_portrait_path }}" class="single-lightbox info-block__media" data-lightbox-single="true" data-lightbox-title="{{ creator.name }}">
                  <img class="primary-image" src="{{ path_to_root }}{{ creator.rel_portrait_path }}" alt="{{ site_labels.accessibility.creator_portrait_description_format | format_phrase(creator=creator.name) }}">
                </a>
              {% endif %}
              {{ utils.render_meta_entries(creator.meta_entries, path_to_root) }}
            </div>
          </div>
        </div>
      {% endif %}

      {% if project.collaboration %}
        {% set collaboration = project.collaboration%}
        <div class="section-box">
          <div class="section-title">{{ collaboration.name }}</div>
          <hr>
          <div class="section-content">
            <div class="info-block{% if collaboration.rel_portrait_path %} info-block--portrait{% endif %}">
              {% if collaboration.rel_portrait_path %}
                <a href="{{ path_to_root }}{{ collaboration.rel_portrait_path }}" class="single-lightbox info-block__media" data-lightbox-single="true" data-lightbox-title="{{ collaboration.name }}">
                  <img class="primary-image" src="{{ path_to_root }}{{ collaboration.rel_portrait_path }}" alt="{{ site_labels.accessibility.creator_portrait_description_format | format_phrase(creator=collaboration.name) }}">
                </a>
              {% endif %}
              {{ utils.render_meta_entries(collaboration.meta_entries, path_to_root) }}
            </div>
          </div>
        </div>
      {% endif %}

      {% for participant in project.participants %}
        <div class="section-box">
          <div class="section-title">{{ participant.name }}</div>
          <hr>
          <div class="section-content">
            <div class="info-block{% if participant.rel_portrait_path %} info-block--portrait{% endif %}">
              {% if participant.rel_portrait_path %}
                <a href="{{ path_to_root }}{{ participant.rel_portrait_path }}" class="single-lightbox info-block__media" data-lightbox-single="true" data-lightbox-title="{{ participant.name }}">
                  <img class="primary-image" src="{{ path_to_root }}{{ participant.rel_portrait_path}}" alt="{{ site_labels.accessibility.creator_portrait_description_format | format_phrase(creator=participant.name) }}">
                </a>
              {% endif %}
              {{ utils.render_meta_entries(participant.meta_entries, path_to_root) }}
            </div>
          </div>
        </div>
      {% endfor %}

      {% if project.tags %}
        <div class="section-box">
          <div class="section-title">{{ site_labels.entity.tags }}</div>
          <hr>
          <div class="section-content tag-list">
            {% for group in project.tags.groups %}
              <div class="tag-category">
                <span class="tag-category-label data-label">{{ group.category }}</span>
                {% for tag in group.tags %}
                  <a class="tag" href="{{ path_to_root }}projects.html?tag={{ (group.category ~ ':' ~ tag) | urlencode }}">{{ tag }}</a>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      </div>

      <div class="right-column">

      {% if project.has_media %}
      {{ media_macros.render_media_groups(path_to_root, project.media_groups, gallery_image_max_height, site_rendering.project_page.media_gallery_page_size, site_labels) }}
      {% else %}
      <div class="section-box">
        <div class="section-content">
          {{ empty_states.render(site_labels.empty_states.no_media) }}
        </div>
      </div>
      {% endif %}

      </div>
    </div>
  </div>
</div>

<script src="{{ path_to_root }}assets/js/utils.js" defer></script>
<script src="{{ path_to_root }}assets/js/playback_coordinator.js" defer></script>
<script src="{{ path_to_root }}assets/js/theme_selector.js" defer></script>
<script src="{{ path_to_root }}assets/js/justified_gallery_builder.js" defer></script>
<script src="{{ path_to_root }}assets/js/image_captions_toggle.js" defer></script>
<script src="{{ path_to_root }}assets/js/pagination.js" defer></script>
<script src="{{ path_to_root }}assets/js/audio_player.js" defer></script>
<script src="{{ path_to_root }}assets/js/video_player.js" defer></script>
<script src="{{ path_to_root }}assets/js/lightbox.js" defer></script>
<script src="{{ path_to_root }}assets/js/resize_iframes.js" defer></script>

</body>
</html>

