.creator-info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.creator-info--column {
  flex-direction: column;
}

.creator-info--column img {
  width: 100%;
}

.creator-info--row {
  flex-direction: row;
}

.creator-info--row img {
  width: 100%;
  max-width: 12.5rem;
}

.creator-info > div > *:first-child {
  margin-top: 0;
}

.creator-info > div > *:last-child {
  margin-bottom: 0;
}

.creator-layout {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: nowrap;
}

.creator-left {
  flex: 3;
  min-width: 0;
}

.creator-right {
  flex: 7;
  min-width: 0;
}

@media (max-width: 768px) {
  .creator-layout {
    flex-direction: column;
  }

  .creator-left,
  .creator-right {
    width: 100%;
  }
}
