.creator-info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.creator-info--column {
  flex-direction: column;
}

.creator-info--column img {
  width: 100%;
}

.creator-info--row {
  flex-direction: row;
}

.creator-info--row img {
  width: 100%;
  max-width: 12.5rem;
}

.creator-info > div > *:first-child {
  margin-top: 0;
}

.creator-info > div > *:last-child {
  margin-bottom: 0;
}

.creator-layout {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  height: calc(100vh - 8rem);
  overflow: hidden;
}

.creator-left,
.creator-right {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  min-width: 0;
}

.creator-left::-webkit-scrollbar,
.creator-right::-webkit-scrollbar {
  display: none;
}

.creator-left {
  flex: 3;
}

.creator-right {
  flex: 7;
}

/* Small screen behavior */
@media (max-width: 768px) {
  .creator-layout {
    flex-direction: column;
    height: calc(100vh - 8rem);  /* Adjust if needed for fixed header */
    overflow-y: auto;
  }

  .creator-left,
  .creator-right {
    flex: none;
    height: auto;
    overflow: visible;
  }

  .creator-layout::-webkit-scrollbar {
    display: none;
  }

  .creator-layout {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

