.overview-layout {
  height: 100%;
  overflow-y: auto;
  padding-right: 0px;
  scrollbar-width: thin;  /* Firefox */
  scrollbar-color: #666 transparent;
  margin-bottom: 2rem;
}

/* WebKit (Chrome, Safari, Edge) scrollbar styling */
.overview-layout::-webkit-scrollbar {
  width: 4px;
}

.overview-layout::-webkit-scrollbar-track {
  background: transparent;
}

.overview-layout::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 2px;
  border: 3px solid transparent;
  background-clip: content-box;
}

