.project-info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.project-info strong {
  color: var(--text-muted-color);
}

.project-info--column {
  flex-direction: column;
}

.project-info--column img {
  width: 100%;
}

.project-info--row {
  flex-direction: row;
}

.project-info--row img {
  width: 100%;
  max-width: 12.5rem;
}

.creator-info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.creator-info strong {
  color: var(--text-muted-color);
}

.creator-info img {
  width: 100%;
  max-width: 12.5rem;
}

.creator-info > div > *:first-child,
.project-info > div > *:first-child {
  margin-top: 0;
}

.creator-info > div > *:last-child,
.project-info > div > *:last-child {
  margin-bottom: 0;
}

.project-layout {
  display: flex;
  gap: 1rem;
  height: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.project-left,
.project-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  overflow-y: auto;
  padding-right: 0px;
  scrollbar-width: thin;  /* Firefox */
  scrollbar-color: var(--scrollbar-color) transparent;
  min-width: 0;
}

/* WebKit (Chrome, Safari, Edge) scrollbar styling */
.project-left::-webkit-scrollbar,
.project-right::-webkit-scrollbar {
  width: 4px;
}

.project-left::-webkit-scrollbar-track,
.project-right::-webkit-scrollbar-track {
  background: transparent;
}

.project-left::-webkit-scrollbar-thumb,
.project-right::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 2px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.project-left {
  flex: 3;
}

.project-right {
  flex: 7;
}

/* Small screen behavior */
@media (max-width: 48rem) {
  .project-layout {
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding-right: 0px;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
  }

  .project-layout::-webkit-scrollbar {
    width: 4px;
  }

  .project-layout::-webkit-scrollbar-track {
    background: transparent;
  }

  .project-layout::-webkit-scrollbar-thumb {
    background-color:var(--scrollbar-thumb-color);
    border-radius: 2px;
    border: 3px solid transparent;
    background-clip: content-box;
  }

  .project-left,
  .project-right {
    flex: none;
    height: auto;
    overflow: visible; /* no internal scrolling */
    padding-right: 0;
  }
}

