.theme-frozen-aurora {
  --background-color: #0e1b2a;

  --hover-background-color: #2ec8e6;
  --hover-text-color: #002633;

  --selected-background-color: #2ec8e6;
  --selected-text-color: #002633;
  
  --title-background-color: #14324b;
  --title-border-color: transparent;
  --title-color: #e0faff;

  --selection-box-background-color: #162d42;
  --selection-box-border-color: #55bcd7;
  --selection-box-hr-color: #89ecf5;
  --selection-box-title-backgound-color: #14324b;
  --selection-box-title-color: #e0faff;

  --text-color: #d9f2ff;
  --text-muted-color: #a6c4d8;
  --tag-category-color: #97d1f3;
  --tag-text-color: #ffffff;
  --tag-background-color: #1c3b52;
  --tag-hover-text-color: #1c3b52;
  --tag-hover-background-color: #ffffff;

  --link-color: #82e9de;
  --link-visited-color: #aad8ef;
  --link-hover-color: #ffffff;
  --link-disabled-color: #669ea6;

  --track-odd-color: #18374f;
  --track-even-color: #1f4660;

  --icon-fill-color: #d9f2ff;
  --icon-hover-fill-color: #d9f2ff;
  
  --control-border-color: #82e9de;

  --scrollbar-color: #294d66;
  --scrollbar-thumb-color: #55bcd7;
}

.theme-forest-night {
  --background-color: #0d1b1e;

  --hover-background-color: #cccccc;
  --hover-text-color: #102014;

  --selected-background-color: #cccccc;
  --selected-text-color: #102014;
  --title-color: #cdeac0;
  
  --title-background-color: #112;
  --title-border-color: #345;

  --selection-box-background-color: #1c3a3e;
  --selection-box-border-color: #345;
  --selection-box-hr-color: #466;
  --selection-box-title-backgound-color: #112;
  --selection-box-title-color: #cdeac0;

  --text-color: #d8e5dd;
  --text-muted-color: #88a39a;
  --tag-category-color: #b2dfdb;
  --tag-text-color: #fefae0;
  --tag-background-color: #2b4742;
  --tag-hover-text-color: #2b4742;
  --tag-hover-background-color: #fefae0;

  --link-color: #a8dadc;
  --link-visited-color: #f4a261;
  --link-hover-color: #ffffff;
  --link-disabled-color: #44615d;

  --track-odd-color: #24494d;
  --track-even-color: #2e5a5f;

  --icon-fill-color: #d8e5dd;
  --icon-hover-fill-color: #d8e5dd;
  
  --control-border-color: #a8dadc;

  --scrollbar-color: #2e5a5f;
  --scrollbar-thumb-color: #88a39a;
}

