.theme-frozen-aurora {
  --bg-color: #0e1b2a;
  
  --box-bg: #162d42;
  --border-color: #55bcd7;
  --hr-color: #89ecf5;
  --title-bg: #14324b;
  --title-color: #e0faff;
  
  --text-color: #d9f2ff;              
  --text-muted-color: #a6c4d8;        
  --tag-category-color: #97d1f3;      
  --tag-text-color: #ffffff;          
  --section-content-bg: transparent; 

  --link-color: #82e9de;
  --link-visited-color: #aad8ef;
  --link-hover-color: #ffffff;
  --link-disabled-color: #669ea6;
  
  --track-odd: #18374f;
  --track-even: #1f4660;
}

.theme-forest-night {
  --bg-color: #0d1b1e;
  
  --box-bg: #1c3a3e;
  --border-color: #345;
  --hr-color: #466;
  --title-bg: #112;
  --title-color: #cdeac0;
  
  --text-color: #d8e5dd;              
  --text-muted-color: #88a39a;        
  --tag-category-color: #b2dfdb;      
  --tag-text-color: #fefae0;          
  --section-content-bg: transparent;  

  --link-color: #a8dadc;
  --link-visited-color: #f4a261;
  --link-hover-color: #ffffff;
  --link-disabled-color: #44615d;
  
  --track-odd: #24494d;
  --track-even: #2e5a5f;
}

