{% import "partials/_media_sections.html.j2" as media_macros %}

<!DOCTYPE html>
<html lang="en">
<head>
  <style>body { display: none; }</style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ project.title }}</title>
  <link rel="stylesheet" href="../assets/css/base.css">
  <link rel="stylesheet" href="../assets/css/theme.css">
  <link rel="stylesheet" href="../assets/css/two-column-layout.css">
</head>
<body>

<div class="page-container">
  <div class="page-header">
    <div class="top-link">
      <a href="../index.html">{{ html_settings.nav_creators_label }}</a> &middot;
      <a href="../projects.html">{{ html_settings.nav_projects_label }}</a> &middot;
      <a href="../tags.html">{{ html_settings.nav_tags_label }}</a> &middot;
      <a href="{{ project.creator_url }}">{{ project.creator_name }}</a>
      {% include "partials/_theme_dropdown.html.j2" %}
    </div>

    <h1>{{ project.title }}</h1>
  </div>

  <div class="two-column-layout">

    <div class="left-column">

      <div class="section-box">
        <div class="section-title">{{ html_settings.project_page_overview_title }}</div>
        <hr>
        <div class="section-content markdown">
          <div class="info-block info-block--{{ project.info_layout }}">
            <a href="{{ project.thumbnail_url }}" class="single-lightbox" data-lightbox-single="true">
              <img src="{{ project.thumbnail_url }}" alt="Preview of {{ project.title }}">
            </a>
            <div>
              {% if 'title' in html_settings.project_page_visible_project_fields %}
                <p><strong>Title:</strong> {{ project.title }}</p>
              {% endif %}
              {% if 'release_date' in html_settings.project_page_visible_project_fields and project.release_date %}
                <p><strong>Release Date:</strong> {{ project.release_date }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      {% if project.info_html %}
        <div class="section-box markdown">
          <div class="section-title">{{ html_settings.project_page_description_title }}</div>
          <hr>
          <div class="section-content text-content">
            {{ project.info_html | safe }}
          </div>
        </div>
      {% endif %}
      
      <div class="original-placeholder" data-mobile-target="1">
        {% if project.creator %}
          <div class="section-box">
            <div class="section-title">{{ project.creator.name }} - {{ html_settings.project_page_creator_profile_title }}</div>
            <hr>
            <div class="section-content">
              <div class="info-block info-block--row">
                {% if not html_settings.hide_portraits %}
                  <a href="{{ project.creator.portrait_url }}" class="single-lightbox" data-lightbox-single="true">
                    <img src="{{ project.creator.portrait_url }}" alt="Portrait of {{ project.creator.name }}">
                  </a>
                {% endif %}
                <div>
                  <p><strong>Name:</strong> <a href="{{ project.creator.url }}">{{ project.creator.name }}</a></p>
                  {% if project.creator.age_at_release %}
                    <p><strong>At Age:</strong> {{ project.creator.age_at_release }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      
      <div class="original-placeholder" data-mobile-target="2">
        {% if project.collaboration and html_settings.project_page_collaboration_profile_visible %}
          <div class="section-box">
            <div class="section-title">{{ project.collaboration.name }} - {{ html_settings.project_page_creator_profile_title }}</div>
            <hr>
            <div class="section-content">
              <div class="info-block info-block--row">
                {% if not html_settings.hide_portraits %}
                  <a href="{{ project.collaboration.portrait_url }}" class="single-lightbox" data-lightbox-single="true">
                    <img src="{{ project.collaboration.portrait_url }}" alt="Portrait of {{ project.collaboration.name }}">
                  </a>
                {% endif %}
                <div>
                  <p><strong>Name:</strong> <a href="{{ project.collaboration.url }}">{{ project.collaboration.name }}</a></p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>

      <div class="original-placeholder" data-mobile-target="3">
        {% if html_settings.project_page_participant_profiles_visible %}
          {% for participant in project.participants %}
            <div class="section-box">
              <div class="section-title">{{ participant.name }} - {{ html_settings.project_page_creator_profile_title }}</div>
              <hr>
              <div class="section-content">
                <div class="info-block info-block--row">
                  {% if not html_settings.hide_portraits %}
                    <a href="{{ participant.portrait_url }}" class="single-lightbox" data-lightbox-single="true">
                      <img src="{{ participant.portrait_url}}" alt="Portrait of {{ participant.name }}">
                    </a>
                  {% endif %}
                  <div>
                    <p><strong>Name:</strong> <a href="{{ participant.url }}">{{ participant.name }}</a></p>
                    {% if participant.age_at_release %}
                      <p><strong>At Age:</strong> {{ participant.age_at_release }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>

      <div class="original-placeholder" data-mobile-target="4">
        {% if project.tag_map %}
          <div class="section-box">
            <div class="section-title">{{ html_settings.project_page_tags_title }}</div>
            <hr>
            <div class="section-content tag-list">
              {% for category, tags in project.tag_map.items() %}
                <div class="tag-category">
                  <strong>{{ category }}:</strong>
                  {% for tag in tags %}
                    <a class="tag" href="../projects.html?tag={{ tag }}">{{ tag }}</a>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>

    </div>

    <div class="right-column">

      {{ media_macros.render_media_groups(project.media_groups, html_settings, gallery_image_max_height, html_settings.project_page_image_gallery_page_size) }}
      
      <div class="mobile-placeholder" data-mobile-target="1"></div>
      <div class="mobile-placeholder" data-mobile-target="2"></div>
      <div class="mobile-placeholder" data-mobile-target="3"></div>
      <div class="mobile-placeholder" data-mobile-target="4"></div>

    </div>
  </div>
</div>

<script src="../assets/js/utils.js" defer></script>
<script src="../assets/js/theme_selector.js" defer></script>
<script src="../assets/js/justified_gallery_builder.js" defer></script>
<script src="../assets/js/pagination.js" defer></script>
<script src="../assets/js/audio_player.js" defer></script>
<script src="../assets/js/video_player.js" defer></script>
<script src="../assets/js/lightbox.js" defer></script>
<script src="../assets/js/responsive_content_mover.js" defer></script>

</body>
</html>

