<div class="search-bar-wrapper">
  <input type="text" id="search-input" placeholder="{{ search_text_placeholder }}" class="search-box">
  <span id="clear-search" class="clear-icon" title="Clear search">&times;</span>
</div>

