<div style="float: right;">
  <div class="theme-dropdown">
    <button type="button" class="theme-button" id="theme-toggle" aria-haspopup="menu" aria-expanded="false" aria-controls="theme-panel">{{ site_labels.controls.themes }}</button>
    <div class="theme-panel" id="theme-panel" role="menu" aria-labelledby="theme-toggle">
      {% for theme in themes %}
      <button type="button" class="theme-option" role="menuitemradio" aria-checked="false" tabindex="-1" data-theme="{{ theme.css_class }}">{{ theme.display_name }}</button>
      {% endfor %}
    </div>
  </div>
</div>

